<div *ngIf="isVisibleModal"
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-auto">
  <div class="relative p-4 w-full max-w-md h-auto bg-white rounded-lg shadow dark:bg-gray-700">
    <div class="p-4 md:p-5">
      <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">Editar nombre de la empresa constructora
      </p>
      <div class="mt-2">
        <input type="text" [(ngModel)]="companyName"
          class="w-full border-gray-300 p-2 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500"
          placeholder="Nuevo nombre de la empresa">
      </div>
    </div>
    <div class="dark:bg-gray-700 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
      <button (click)="saveEditedCompany()" type="button"
        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
        Guardar
      </button>
      <button (click)="cancelEdit()" type="button"
        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-gray-800 text-base font-medium text-gray-200 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Cancelar
      </button>
    </div>
  </div>
</div>

<div class="bg-white shadow-md rounded-lg p-8 max-w-lg w-full mx-auto mt-10 dark:bg-gray-800 dark:border-gray-700">
  <div *ngIf="userHasCompany">
    <div class="mb-4">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mi empresa constructora</h3>
      <hr class="my-2 border-gray-300 dark:border-gray-600">
    </div>
    <div class="flex items-center mb-4 dark:text-white">
      Nombre: &nbsp;
      <span class="text-gray-900 dark:text-white text-md font-semibold mr-2">{{ companyName }}</span>
    </div>
    <div class="flex justify-end">
      <button (click)="showEditModal()" title="Editar nombre"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        type="button">
        <svg class="w-6 h-6 text-gray-800 dark:text-white inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
        </svg>
        <span class="ml-1">Editar Nombre</span>
      </button>
    </div>
  </div>


  <!-- Contenido original -->
  <div *ngIf="!userHasCompany">
    <h1 class="text-2xl font-semibold mb-4 dark:text-white">Crear nueva empresa constructora</h1>
    <div class="space-y-4">
      <div>
        <label for="companyName" class="block text-sm font-medium text-gray-700 dark:text-white">Nombre</label>
        <input type="text" id="companyName" #companyName
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required>
      </div>
      <button (click)="saveCompany(companyName.value)"
        class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-800">Guardar</button>
    </div>
  </div>

</div>