<section class="bg-white min-h-screen">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-purple-800"
      >
        404
      </h1>
      <p
        class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl"
      >
        Algo ha ocurrido.
      </p>
      <p class="mb-4 text-lg font-light text-gray-500">
        Lo sentimos, no podemos encontrar esa página. Encontrarás muchas cosas
        para explorar en la página principal.
      </p>
      <button
        routerLink="/home/dashboard"
        class="inline-flex text-white bg-gradient-to-r from-purple-500 to-purple-800 hover:bg-purple-900 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4"
      >
        Volver al Inicio
      </button>
    </div>
  </div>
</section>
