<ul class="space-y-2 font-medium">
  <app-section
    [title]="'Edificios'"
    (click)="navigateToSection('buildings',1)"
    [selected]="selectedSectionIndex === 1"
  ></app-section>
  <app-section
    [title]="'Empresas constructoras'"
    (click)="navigateToSection('constructionCompanies',2)"
    [selected]="selectedSectionIndex === 2"
  ></app-section>
  <app-section
    [title]="'Administradores'"
    (click)="navigateToSection('companyAdministrators',3)"
    [selected]="selectedSectionIndex === 3"
  ></app-section>
  <app-section
    [title]="'Importar edificios'"
    (click)="navigateToSection('importBuildings',4)"
    [selected]="selectedSectionIndex === 4"
  ></app-section>
</ul>
