<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-52 w-auto" src="../../assets/building-admin-logo.png" alt="Your Company" />
    <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
      Tengo una invitación
    </h2>
  </div>

  <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" (ngSubmit)="showModal()">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Ingrese su correo
          electrónico</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" required [(ngModel)]="email"
            class="block w-full rounded-md border-0 p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
        </div>
      </div>

      <div>
        <button type="submit"
          class="flex w-full justify-center rounded-md bg-green-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Aceptar invitación
        </button>
      </div>
    </form>
    <button (click)="rejectInvitation()"
      class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2">
      Rechazar invitación
    </button>
    <button routerLink="/login"
      class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2">
      Volver al login
    </button>
  </div>

</div>


<div *ngIf="modalVisible" id="authentication-modal" tabindex="-1"
  class="absolute inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Ingrese una contraseña
        </h3>
        <button (click)="hideModal()" type="button"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5">
        <form class="space-y-4">

          <div>
            <label for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>

            <input type="password" name="password" id="password" placeholder="Contraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              required [(ngModel)]="password" />
            <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">
              La contraseña debe tener: Una mayuscula, Un caracter especial,
              Entre 6 y 15 caracteres
            </div>
          </div>
          <div>
            <label for="passwordConfirmation"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmacion de la
              Contraseña</label>

            <input type="password" name="passwordConfirmation" id="passwordConfirmation"
              placeholder="Confirma la contraseña"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              required [(ngModel)]="passwordConfirmation" />
          </div>
          <div class="flex items-center justify-between p-4 md:p-5 border-t rounded-t dark:border-gray-600">
            <button type="submit" (click)="acceptInvitation()"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Aceptar invitación
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>